@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo|Hind&display=swap");

html {
  scroll-behavior: smooth;
}

/* General */
body {
  font-family: "Nunito", sans-serif;
}



/*CALCULATE SOLAR POWER SECTION*/

.calc_inner {
  padding-bottom: 90px;
}

/*END OF CALC SOLAR POWER SECTION*/



/*Calculator Section*/

#calc_section {
  background-color: #f2f4f8;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: -3rem;
  margin-top: 0px;
}

.calc_button {
  background-color: #055da8;
  border-radius: 15px;
  outline: none;
  border: 0;
  color: #fff;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  margin-top: 20px;
}

@media (max-width: 375px) {
  #calc_section {
    margin-top: 2rem;
  }
}

#calc_inner {
  border-radius: 5px;
  background-color: #fff;
  padding: 40px 20px;
}

form input {
  border: 2px solid #055da8;
  border-radius: 15px;
  padding: 10px;
  height: 40px;
  width: 60%;
}

#email {
  width: 350px;
  border-radius: 15px;
  border: 2px solid #055da8;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
}

.flexy {
  
  text-align: center;
}

input::-webkit-calendar-picker-indicator {
  background-color: transparent;
  color: var(--primary-color);
}

.result {
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

.result-tab p {
  text-transform: uppercase;
  font-size: 14px;
}

#result_heading {
  font-size: 30px;
  text-transform: uppercase;
}

.result-text {
  font-size: 20px;
  text-transform: uppercase;
  color: #055da8;
}

#result_num {
  font-size: 40px;
}

.but {
  background-color: white;
  border-radius: 25px;
  border: 1px solid #055da8;
  color: #055da8;
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.app-list {
  margin-top: 30px;
  text-align: center;
}

.result-tab {
  text-align: center;
}

.but-active {
  background-color: #055da8;
  color: white;
}

.link:hover {
  color: #055da8;
}

.but-active {
  background-color: #055da8;
  color: white;
}

.but-send {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #055da8;
  color: white;
  height: 40px;
}

.link:hover {
  color: #055da8;
}

.color {
  color: #055da8;
}

.div {
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  background-color: #055da8;
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.space {
  padding: 10px;
}

.delete {
  color: red;
  font-size: 14px;
  cursor: pointer;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex1 {
  width: 100%;
}

label {
  margin-top: 10px;
}

.img-partners {
  width: 100px;
  height: 50px;
  background: rgb(177, 182, 187);
}

.inner-about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f4f8;
  margin-top: 30px;
  padding: 30px;
  line-height: 1.5em;
  font-size: 18px;
  margin-bottom: 50px;
}

.contact1 {
  text-align: center;
  display: block;
  background-color: #055da8;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
}

.contact1:hover {
  color: black;
  text-decoration: none;
}

.lead {
  background-color: white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.lead-tab {
  margin-top: 20px;
}

@media (max-width: 994px) {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .lead {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .flex1 {
    width: 100%;
  }

  .flexy {
    border-right: none;
  }

  #result {
    border-top: 2px solid #055da8;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 616px) {
  .how-it-works-main {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .div {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  #email {
    width: 100%;
  }

  form input {
    width: 100%;
  }

  .contact_input {
    width: 100%;
  }

  .contact_textarea {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .space {
    display: block;
    background-color: white;
  }

  .but {
    width: 80%;
    margin-top: 10px;
  }
}

.hori{
  
  width: 50rem;
}

@media screen and (max-width:800px) {
  .hori{
    display: none;
  }
  

}